Repository SWEasabi/verbali, pull requests merged in 2023-03, with the labels that each got.

#41 prima stesura verbale del 2/3/23
  esterni/VEX_20230302/config.tex
  esterni/VEX_20230302/contenuti/incontro.tex
  esterni/VEX_20230302/contenuti/info-generali.tex
  esterni/VEX_20230302/d_VEX_20230302.tex
Labels: riunioni_esterne

#43 Aggiunto verbale riunione 29/11/2022
  interni/VIN_20221129/config.tex
  interni/VIN_20221129/contenuti/info-generali.tex
  interni/VIN_20221129/contenuti/ordine_del_giorno.tex
  interni/VIN_20221129/contenuti/svolgimento.tex
  interni/VIN_20221129/d_VIN_20221129.tex
Labels: riunioni_interne

#45 Verbalizzare iterazione 6
  sprint/SPR_20230101/contenuti/consuntivazione.tex
  sprint/SPR_20230115/config.tex
  sprint/SPR_20230115/contenuti/consuntivazione.tex
  sprint/SPR_20230115/contenuti/previsione.tex
  sprint/SPR_20230115/contenuti/ruoli.tex
  sprint/SPR_20230115/d_SPR_20230115.tex
  sprint/SPR_20230115/img/andamento.png
  sprint/SPR_20230115/img/ore-svolte.png
Labels: sprint

#50 Verbalizzato sprint 8 SPR_20230212 #46
  sprint/SPR_20230212/config.tex
  sprint/SPR_20230212/contenuti/consuntivazione.tex
  sprint/SPR_20230212/contenuti/previsione.tex
  sprint/SPR_20230212/contenuti/ruoli.tex
  sprint/SPR_20230212/d_SPR_20230212.tex
  sprint/SPR_20230212/img/andamento.png
  sprint/SPR_20230212/img/ore-svolte.png
Labels: sprint
